<%= render "common/errors", model: @opinion %>

  <%= form_for [@film, @opinion] do |f| %>
    <p>
      <%= f.label :autor %>
      <%= f.text_field :author %>
    </p>

    <p>
      <%= f.label :ocena %>
      <%= f.number_field :rating, min: 1, max: 10 %>
    </p>

    <p>
      <%= f.label :komentarz %><br>
      <%= f.text_area :comment %>
    </p>

    <%= f.submit %>
  <% end %>
